Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.xcworkspace
!default.xcworkspace
*.xcuserdatad
*.xccheckout
*.xcscmblueprint
*.xctestplan
*.moved-aside
DerivedData/
.idea/
.vscode/

Android/Gradle
.gradle
.idea
build/
local.properties
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
*.log

React Native
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/app/.cxx/
android/app/src/main/assets/
android/app/src/main/res/
android/app/src/main/assets/
android/app/src/main/res/
android/app/src/main/java/com/buzz20/mainapplication.java
android/app/src/main/java/com/buzz20/packagelist.java
android/.idea/
android/local.properties

Dependency management
node_modules/
npm-debug.log
yarn-error.log

Environment
.env
.env.local
.env.development
.env.test
.env.production